.search-form__form {
  box-shadow: 0 3px 14px #00000014;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.search-form__input-channel {
    width: 100%;
  padding: 1.5em;
  border-radius: .75em;
  border: 1px solid #ddd;
  background: #fff;
  box-sizing: border-box;
  
}


.search-form__button {
  background-color: #6c86e2;
  color: #fff;
  padding: 1.25em;
  border: none;
  border-radius: .75em;
}
