.search-form__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.search-form__input-channel {
  width: 100%;
  padding: 1.5em;
  border-radius: 0.75em;
  border: 1px solid #ddd;
  background: #fff;
  box-sizing: border-box;
}

.search-form__button {
  background-color: #6c86e2;
  color: #fff;
  padding: 1.25em;
  border: none;
  border-radius: 0.75em;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  .search-form__form {
    flex-direction: column;
  }
  .search-form__button {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .search-form__input-channel {
    text-overflow: ellipsis;
  }
}
